@import "tailwindcss";
@import "fumadocs-ui/css/dusk.css";
@import "fumadocs-ui/css/preset.css";

pre code {
  white-space: pre-wrap;
  font-family: "Geist mono", "IBM Plex Mono", monospace;
  font-size: 14px;
}

code {
  white-space: pre-wrap;
  font-family: "Geist mono", "IBM Plex Mono", monospace;
  font-size: 14px;
}